{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/vetmain.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css">
{% endblock %}

{% block content %}
<section class="home-main">
{% include 'navmain.html' %}



{% if request.user.perfilcliente %}
{% include 'contentmain.html' %}

{% endif %}









</section>
{% endblock %}


{% block script %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/package.json"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/locales-all.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded',function(){
        var calendarUI = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarUI,{
            events: [
                    {% for object in citas %}
                    {
                    title: "{{ object.veterinario.nombres }} - {{object.get_subespecialidad_display}}",
                    start : '{{ object.fecha | date:"Y-m-d H:i" }}',
                    end : '{{object.get_hora_final | date:"Y-m-d H:i"}}',
                    url : '{{object.get_absolute_url}}',
                    
                    },
                    {% endfor %}
                ],
            headerToolbar: {
            left: 'prev',
            center: 'today title',
            right: 'next'
            },
            eventBackgroundColor: 'green',
            themeSystem: 'bootstrap',
            initialView: 'dayGridMonth',
            showNonCurrentDates: false,});
            calendar.render();
            calendar.setOption('locale','es');
            $('#icox').on('click', function() {

                $(this).children().toggleClass('active');
                $('#menux').toggleClass('active');

                if ($('.contenidoInner').hasClass('col-lg-10')){
                $('.contenidoInner').toggleClass('col-lg-12');
                $('.contenidoInner').removeClass('col-lg-10');
                calendar.destroy();
                calendar.render();

                }else{
                $('.contenidoInner').toggleClass('col-lg-10');
                $('.contenidoInner').removeClass('col-lg-12');
              
                }
               


    });
         
        

        
    });
  



  
</script>
{% endblock %}