{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/vetmain.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css">
{% endblock %}

{% block content %}
<section class="home-main">
{% include 'navmain.html' %}



{% if request.user.perfilcliente %}
{% load static %}

<section class="content-main row d-flex justify-content-center">

  {% include 'menu-izquierda.html' %}
    <div class="col-lg-10 col-sm-12 contenidoInner row d-flex justify-content-center px-0">
       <div class="col-md-8 py-5">
            <h1>Solicitar Cita:</h1>

            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <h5 class="mt-5 mb-1 fw-bold">Horario de la cita: <small class="fw-light">{{object.fecha|date:"d, M - Y H:m"}} - {{object.get_hora_final|date:" H:m"}}</small></h5>
                </div>
                <div class="col-md-12">
                    <h5 class="mt-5 mb-1 fw-bold">Veterinario: <small class="fw-light">{{object.veterinario.nombres}} {{object.veterinario.apellidos}}</small></h5>
                </div>
                <div class="col-md-12">
                    <h5 class="mt-5 mb-1 fw-bold">Especialidad: <small class="fw-light">{{object.get_subespecialidad_display}}</small></h5>
                </div>
                <div class="col-md-12">
                    <h5 class="mt-5 mb-1 fw-bold">Subespecialidad: <small class="fw-light">{{object.veterinario.get_cargo_display}} en animales {{object.veterinario.get_animales_display}}</small></h5>
                </div>
                <form method = "POST" action = "{% url 'reservar-cita' object.pk %}">{% csrf_token %}
                <div class="col-md-12">
                    <h5 class="mt-5 mb-1 fw-bold">Reserva para: {{form|crispy}}</h5>
                </div>
                <div class="col-md-12 my-3">
                    <button type="submit" class="btn btn-primary btn-lg col-md-3">Confirmar Reserva</button>
                </div>
            </form>
            </div>
           
          </div>
    </div>
      
    </div>

</section>

{% endif %}

{% endblock %}

