{% load static %}
<section class= "container-fluid">

<div class="tarjetasIndex">
  <div class="row justify-content-center">
    <div class="card text-center " style="width: 18rem;">
      <img src="{% static 'img/health.svg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h3>Salud</h3>
         <p class="card-text">dog</p>
        </div>
    </div>
  </div>
  
  
  <div class="row justify-content-center"> 
    <div class="card text-center" style="width: 18rem;">
      <img src="{% static 'img/analytics.svg' %}" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h3>Registrate</h3>
        <p class="card-text">analisis.</p>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img src="{% static 'img/appointment.svg' %}" class="card-img-top" alt="...">
      <div class="card-body  text-center">
        <h3>Agenda cita</h3>
        <p class="card-text">citas.</p>
      </div>
     </div>
  </div>

  
  <div class="row justify-content-center">
    <div class="card text-center" style="width: 18rem;">
      <img src="{% static 'img/pharmacy.svg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h3>Medicamentos</h3>
        <p class="card-text">Guacamayas.</p>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img src="{% static 'img/document.svg' %}" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h3>Documentos</h3>
        <p class="card-text">Ortiz.</p>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img src="{% static 'img/hablar.svg' %}" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h3>Chatea</h3>
        <p class="card-text">shupamela.</p>
      </div>
    </div>
  </div>

</div>
</section>