{% load static %}
<section class= "container-fluid text-center sectionTarjetas">
<h1 class="mt-5">Productos y Servicios</h1>
<hr class="mb-5">
<div class="tarjetasIndex">
  <div class="row justify-content-center">
    <div class="card text-center " style="width: 18rem;">
      <img src="{% static 'img/health.svg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h3>Salud para tus mascotas</h3>
         <p class="card-text">Tú y tu veterinario se mantendrán informados acerca de la salud de tus mascotas.</p>
        </div>
    </div>
  </div>
  
  
  <div class="row justify-content-center"> 
    <div class="card text-center" style="width: 18rem;">
      <img src="{% static 'img/analytics.svg' %}" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h3>Datos en tiempo real</h3>
        <p class="card-text">Todos los datos nutricionales y médicos estarán al alcance de un click.</p>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img src="{% static 'img/appointment.svg' %}" class="card-img-top" alt="...">
      <div class="card-body  text-center">
        <h3>Agenda citas</h3>
        <p class="card-text">Agenda tus citas de una manera mas rápida y sencilla.</p>
      </div>
     </div>
  </div>

  
  <div class="row justify-content-center">
    <div class="card text-center" style="width: 18rem;">
      <img src="{% static 'img/pharmacy.svg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h3>Farmacia en línea</h3>
        <p class="card-text">Todos los productos de farmacia veterinaria podrán ser vendidos en línea.</p>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img src="{% static 'img/document.svg' %}" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h3>Historiales clínicos</h3>
        <p class="card-text">Todos los exámenes e historiales clínicos podrán ser vistos a través de la aplicación.</p>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img src="{% static 'img/hablar.svg' %}" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h3>Chatea con tu vet</h3>
        <p class="card-text">Comunicate directamente con tu veterinarios de manera instantánea.</p>
      </div>
    </div>
  </div>

</div>
</section>