{% load static%}


<section class="container-fluid my-5 py-5 text-center sectionTeam">
    <h1 class="mt-5">Nuestro equipo</h1>
    <hr class="mb-5">
    <div class="tarjetasEquipo my-5">
        <div class="row justify-content-center">
            <div class="card text-center " style="width: 18rem;">
              <img src="{% static 'img/guinea-pig.svg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h3>Líder del Equipo</h3>
                    <p class="card-text">Juan David, guía a su equipo, corrige e inspecciona el trabajo, buscando la perfección para brindarle un buen servicio a tu mascota.</p>
                </div>
            </div>

            <div class="card text-center" style="width: 18rem;">
                <img src="{% static 'img/dog.svg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h3>Desarrollador Back-end</h3>
                    <p class="card-text">Felipe, diseña y construye soluciones, brindando la mejor experiencia a los usuarios.</p>
                </div>
            </div>

            <div class="card text-center " style="width: 18rem;">
                <img src="{% static 'img/wolf.svg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                   <h3>Desarrollador Front-end</h3>
                   <p class="card-text">Jose David, planea,estudia y diseña nuevas herramientas, haciendo más agradable el uso de la App Web.</p>
                </div>
            </div>

            <div class="card text-center " style="width: 18rem;">
                <img src="{% static 'img/pinguino.svg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h3>Desarrollador Front-end</h3>
                   <p class="card-text">Thomas, inspecciona, compara y diseña nuevas experiencias, haciendo más fácil el uso de la App Web.</p>
                </div>
            </div>
        </div>
    </div>
</section>
