{% load static%}


<section class="container-fluid my-5 py-5 text-center sectionTeam">
    <h2 class="mt-5">Nuestro equipo</h2>
    <hr class="mb-5">
    <div class="tarjetasEquipo my-5">
        <div class="row justify-content-center">
            <div class="card text-center "style="width: 18rem;" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true">
              <img src="{% static 'img/guinea-pig.svg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5>Juan David</h5>
                    <h6>Líder del Equipo</h6>
                    <p class="card-text">Busca la perfección para brindar un mejor servicio a tu mascota.</p>
                </div>
            </div>

            <div class="card text-center" style="width: 18rem;" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true">
                <img src="{% static 'img/dog.svg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5>Felipe</h5>
                    <h6>Desarrollador Back-end</h6>
                    <p class="card-text">Ordena cuidadosamente tu información y la de tus peludos.</p>
                </div>
            </div>

            <div class="card text-center " style="width: 18rem;" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true">
                <img src="{% static 'img/wolf.svg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                   <h5>Jose David </h5>
                   <h6>Desarrollador Front-end</h6>
                   <p class="card-text">Diseña nuevas interfaces de usuario para mejorar tu experiencia.</p>
                </div>
            </div>

            <div class="card text-center " style="width: 18rem;" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true">
                <img src="{% static 'img/pinguino.svg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5>Thomas</h5>
                    <h6>Desarrollador Front-end</h6>
                    <p class="card-text">Implementa nuevas ideas facilitando el uso de la App Web.</p>
                </div>
            </div>
            
        </div>
    </div>
</section>
