

/*-->HEAD<--*/
.headerIndex .navbar-collapse li{
    margin-left: 40px;
}



.custom-shape-divider-bottom-1630094623 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1630094623 svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 66px;
}

.custom-shape-divider-bottom-1630094623 .shape-fill {
    fill: #F3F4F5;
}

.navIndex{
    background-color: transparent!important;
    padding: 2% 5%;
}

.navIndex .navbar-collapse{
    flex-grow:0;
}

.headerIndex{
    min-height:80vh;
    min-height:400px;
    background-color: #0084da;
    position: relative;
    
}

.headerIndex h1{
    font-size: 5rem;
    color:#F3F4F5;
}

.contenidoHeader a{
    font-weight: bold;
    background-color:#F3F4F5 ;
    color:#0084da;
    border: none;
}

.contenidoHeader a:hover{
    font-weight: bold;
    background-color:#00d3bb;
    color:#F3F4F5;
    border: none;
}

.headerIndex h4{
    color:#F3F4F5;
    font-style: italic;
}

.nav-link{
    color:#F3F4F5!important;
    font-weight:bold!important;
}

.nav-link:hover{
    color:#c0ffd5!important;
}

.headerIndex{
    overflow: hidden;
}

.headerIndex .imgheader{
    max-height:60vh;
    max-width: 60vw;
}

@media (max-width: 1000px) {
    .headerIndex{
        background-image:none;
    }
    .headerIndex .imgheader{
        max-height: 32vh;
    }
    .custom-shape-divider-bottom-1630094623 svg {
        display: none!important;
    }
    .custom-shape-divider-top-1630094667 svg {
        display:none!important;
    }
    .inicioIndex{
        border-left: none;
    }
    .headerIndex .navbar-collapse li{
        margin-left: 0;
    }

  }

@media (max-width: 300px){
    .headerIndex .imgheader{
        display:none;
    }
}

@media(max-height:600px){
    .headerIndex .imgheader{
        display:none;
    }
}

/*-->TARJETAS<--*/
.tarjetasIndex .card{
    background-color: transparent !important;
    position: relative;
    border:none;
    border-radius: 2%;
    margin-top: 15px;
    margin-right:20px;
}

.tarjetasEquipo .card{
    background-color: transparent !important;
    position: relative;
    border:none;
    border-radius: 2%;
    margin-top: 15px;
    margin-right:20px;
}

.sectionTarjetas h1, .sectionTeam h1, .sectionAbout h1{
    font-size: 3.5rem;
}

.sectionTarjetas hr, .sectionTeam hr, .sectionAbout hr{
    width: 5vh;
    margin: 0 auto;
    color:#0084da;
    opacity: 1;
    height:2px;
}

/*-->Imagenes<--*/
.tarjetasIndex .card-img-top{
    max-width: 10vw;
    max-height: 8vh;
    margin: 0 auto;
}
.tarjetasEquipo .card-img-top{
    max-width: 10vw;
    max-height: 12vh;
    margin: 0 auto;
}

/*-->ABOUT<--*/

.aboutIndex .accordion-button{
    font-size: 1.6rem!important;
}

.aboutIndex .accordion{
    margin-top: 30%;
}

.aboutIndex a{
    text-decoration: none!important;
}

.aboutIndex .accordion-body{
    text-align: left;
}

/*-->FOOTER<--*/

.footerIndex{
    background-color:#0084da;
    margin-bottom: 0!important;
}

.footerIndex .container{
    margin-bottom: 0;
}

.footerIndex h1{
    font-size: 3.2rem!important;
    color:#F3F4F5;
}

.footerIndex .btn-primary{
    background-color: #ef4b6c;
    color:#F3F4F5;
    height: 60px;
    padding: 16px 32px;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: .688rem;
    line-height: 30px;
    letter-spacing: 1.54px;
    text-transform: uppercase;
    border-radius: 25px;
    box-shadow: 10px 16px 40px 0 rgb(255 84 117 / 46%);
    border:none;
}

.footerIndex .btn-primary:hover{
    transition: 0.5s ease;
    background-color: #f55776;
    box-shadow: none;
    border: 1px solid #ef4b6c;
}

.custom-shape-divider-top-1630094667 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1630094667 svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 66px;
}

.custom-shape-divider-top-1630094667 .shape-fill {
    fill: #F3F4F5;
}

.footerIndex .fa:hover{
    color:#ef4b6c!important;
}
@media (max-width: 1000px) {
  
    .custom-shape-divider-top-1630094667 svg {
        display:none!important;
    }

}

