.body{
    background-color: #F3F4F5;
}
p{
	color:#8F95A8;
}
h2,h4,h5,h6,h7{
    color:#5B5F6B ;
}
/*-->HEAD<--*/
.headerIndex .navbar-collapse li{
    margin-left: 40px;
}

.custom-shape-divider-bottom-1630094623 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1630094623 svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 66px;
}

.custom-shape-divider-bottom-1630094623 .shape-fill {
    fill: #F3F4F5;
}

.navIndex{
    background-color: transparent!important;
    padding: 2% 5%;
}

.navIndex .navbar-collapse{
    flex-grow:0;
}

.headerIndex{
    min-height:80vh;
    min-height:400px;
    background-color: #0084da;
    position: relative;
    
}

.headerIndex h1{
    font-size: 4.3rem;
    color:#F3F4F5;
}

.contenidoHeader a{
    font-weight: bold;
    background-color:#F3F4F5 ;
    color:#0084da;
    border: none;
}

.contenidoHeader a:hover{
    font-weight: bold;
    background-color:#00d3bb;
    color:#F3F4F5;
    border: none;
}

.headerIndex h4{
    color:#F3F4F5;
    font-style: italic;
}

.nav-link{
    color:#F3F4F5!important;
    font-weight:bold!important;
}

.nav-link:hover{
    color:#c0ffd5!important;
}

.headerIndex{
    overflow: hidden;
}

.headerIndex .imgheader{
    max-height:60vh;
    max-width: 60vw;
}

@media (max-width: 1000px) {
    .headerIndex{
        background-image:none;
    }
    .headerIndex .imgheader{
        max-height: 32vh;
    }
    .custom-shape-divider-bottom-1630094623 svg {
        display: none!important;
    }
    .custom-shape-divider-top-1630094667 svg {
        display:none!important;
    }
    .inicioIndex{
        border-left: none;
    }
    .headerIndex .navbar-collapse li{
        margin-left: 0;
    }

  }

@media (max-width: 300px){
    .headerIndex .imgheader{
        display:none;
    }
}

@media(max-height:600px){
    .headerIndex .imgheader{
        display:none;
    }
}

/*-->TARJETAS<--*/
.tarjetasIndex .card{
    background-color: transparent !important;
    position: relative;
    border:none;
    border-radius: 2%;
    margin-top: 15px;
    margin-right:20px;
}

.tarjetasEquipo .card{
    background-color: transparent !important;
    position: relative;
    border:none;
    border-radius: 2%;
    margin-top: 15px;
    margin-right:20px;
}

.tarjetasAbout .card{
    background-color: transparent !important;
    position: relative;
    border:none;
    border-radius: 2%;
    margin-top: 15px;
    margin-right:20px;
}

.sectionTarjetas hr, .sectionTeam hr, .sectionAbout hr{
    background: transparent !important;
    width: 5vh;
    margin: 0 auto;
    opacity: 1;
    height:2px;
}

/*-->Imagenes<--*/
.tarjetasIndex .card-img-top{
    max-width: 10vw;
    max-height: 8vh;
    margin: 0 auto;
}
.tarjetasEquipo .card-img-top{
    max-width: 10vw;
    max-height: 12vh;
    margin: 0 auto;
}
.tarjetasAbout .imagenAbout{
    max-width: 80%;
}
/*-->ABOUT<--*/


/*-->FOOTER<--*/
.footerIndex h2{
    color: #F3F4F5;
}

.footerIndex h3{
    color: #F3F4F5;
    font-style: italic;
}

.footerIndex{
    background-color:#0084da;
    margin-bottom: 0!important;
}

.footerIndex .container{
    margin-bottom: 0;
}

.footerIndex h1{
    font-size: 3.2rem!important;
    color:#F3F4F5;
}

.footerIndex .btn-primary{
    background-color: #F3F4F5;
    color:#0084da;
    height: 60px;
    padding: 16px 32px;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: .688rem;
    line-height: 30px;
    letter-spacing: 1.54px;
    text-transform: uppercase;
    border-radius: 25px;
    border:none;
}

.footerIndex .btn-primary:hover{
    color: #F3F4F5;
    transition: 0.5s ease;
    background-color: #02d4ba;
    box-shadow: none;
    border: 1px solid #02d4ba;
}

.custom-shape-divider-top-1630094667 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1630094667 svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 66px;
}

.custom-shape-divider-top-1630094667 .shape-fill {
    fill: #F3F4F5;
}

.footerIndex .fa:hover{
    color:#02d4ba !important;
}
@media (max-width: 1000px) {
  
    .custom-shape-divider-top-1630094667 svg {
        display:none!important;
    }

}

