.register{
    height: 100vh;
    overflow-x: hidden;
    background-color: #f3f4f5;
}


.register form{
    background-color: #f3f4f5;
}

@media (max-width:1000px){
    .formulario{
        padding-bottom: 1rem!important;
    }
}

.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #f3f4f5;
    width: 50px;
    text-align: center;
    }
    .hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    }

    .register .btn{
        width: 100%;
    }
    .errorlist li{
        color:red!important;
        font-style: italic;
    }
    
    .register label{
        font-weight: bold;
    }

    .register-form{
        height: 100vh;
    }
    .loginImg{
        height: 100vh;
        
    }
    
    .loginImg img{
        max-width: 100vh;
        max-height: 100vh;
    }
    
    .loginImg{
        background-color: #0084da;
    }
    
    .register .textoImg{
        color: #f3f4f5!important;
    }
    
    .register h4{
        color: #f3f4f5!important;
    }

    .register .pawprint{
        height: 10vh;
    }

  #text{
      font-weight: bold;
  }