{% load static %}
<section class= "container-fluid text-center sectionTarjetas">
<h2 class="mt-5">Productos y Servicios</h2>
<hr class="mb-5">
<div class="tarjetasIndex">
  <div class="row justify-content-center">
    <div class="card text-center" style="width: 18rem;" data-aos="fade-down" data-aos-duration="1200" data-aos-once="true">
      <img src="{% static 'img/health.svg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5>Salud para tu mascota</h5>
         <p class="card-text">Tú y tu veterinario se mantendrán informados acerca del estado de tus mascotas.</p>
        </div>
    </div>
    <div class="card text-center" style="width: 18rem;" data-aos="fade-down" data-aos-duration="1200" data-aos-once="true">
      <img src="{% static 'img/analytics.svg' %}" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5>Datos al instante</h5>
        <p class="card-text">Todos los datos nutricionales y médicos estarán al alcance de un click.</p>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;" data-aos="fade-down" data-aos-duration="1200" data-aos-once="true">
      <img src="{% static 'img/appointment.svg' %}" class="card-img-top" alt="...">
      <div class="card-body  text-center">
        <h5>Agenda citas</h5>
        <p class="card-text">Agenda tus citas de una manera mas rápida y sencilla.</p>
      </div>
     </div>
  </div>  

  <div class="row justify-content-center">
    <div class="card text-center" style="width: 18rem;" data-aos="fade-down" data-aos-duration="1200" data-aos-once="true">
      <img src="{% static 'img/pharmacy.svg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5>Farmacia en línea</h5>
        <p class="card-text">Todos los productos de farmacia veterinaria podrán ser vendidos en línea.</p>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;" data-aos="fade-down" data-aos-duration="1200" data-aos-once="true">
      <img src="{% static 'img/document.svg' %}" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5>Historiales clínicos</h5>
        <p class="card-text">Todos los exámenes e historiales clínicos podrán ser vistos a través de la aplicación.</p>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;" data-aos="fade-down" data-aos-duration="1200" data-aos-once="true">
      <img src="{% static 'img/hablar.svg' %}" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5>Chatea con tu vet</h5>
        <p class="card-text">Comunicate directamente con tu veterinarios de manera instantánea.</p>
      </div>
    </div>
  </div>

</div>
</section>